In [75]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
data = pd.read_sas(r"\\10.1.1.58\datos\CHILE\IMPORTER_POST_VENTA_CONTRATO_MANTENIMIENTO\detalle_chassis.sas7bdat")
data.head()

,ACUM_FALLAS_CORRECTIVAS,ACUM_ING,ACUM_MGN,NUM_CONTR,ORDEN,CLIENTE,INICIO,TERMINO,DURACION_CM,ANTIGUEDAD_CM,...,COLOR_POST_VENTA,COLOR_VENTA,ING,COS,MGN,RENT,RENT_ACUM,PERMANENCIA,DISPONIBILIDAD_MES,DISPONIBILIDAD_ACUM
0,0.0,65789.0,65789.0,b'0040001141',b'CM-40001141',b'0001128597',2012-12-05,2019-03-31,75.0,72.0,...,b'VERDE',b'AMARILLO',65789.0,0.0,65789.0,1.0,1.0,0.0,1.0,1.0
1,0.0,414258.0,414258.0,b'0040001141',b'CM-40001141',b'0001128597',2012-12-05,2019-03-31,75.0,72.0,...,b'VERDE',b'AMARILLO',348469.0,0.0,348469.0,1.0,1.0,0.0,1.0,1.0
2,1.0,414258.0,414258.0,b'0040001141',b'CM-40001141',b'0001128597',2012-12-05,2019-03-31,75.0,72.0,...,b'VERDE',b'AMARILLO',0.0,0.0,0.0,NaN,1.0,0.0,1.0,1.0
3,1.0,598168.0,598168.0,b'0040001141',b'CM-40001141',b'0001128597',2012-12-05,2019-03-31,75.0,72.0,...,b'VERDE',b'AMARILLO',183910.0,0.0,183910.0,1.0,1.0,0.0,1.0,1.0
4,1.0,618791.0,618791.0,b'0040001141',b'CM-40001141',b'0001128597',2012-12-05,2019-03-31,75.0,72.0,...,b'VERDE',b'AMARILLO',20623.0,0.0,20623.0,1.0,1.0,0.0,1.0,1.0

In [81]:
data=data.dropna()

In [155]:
x=data.drop(["CLIENTE","INICIO","TERMINO",'DURACION_CM',"CHASSIS","NUM_CONTR","ORDEN","ANIO","MES","ACUM_MGN","ACUM_MGN","RENT",'RENT_ACUM'], axis=1)
x=x.drop(['MGN','PERMANENCIA','DISPONIBILIDAD_MES','ING','COS','ACUM_ING','FALLAS_CORRECTIVAS','ANTIGUEDAD_CM'], axis=1)
y=data['RENT_ACUM']

In [156]:
def variables_dummy(dataset,variable):
    cat_dummies = pd.get_dummies(dataset[variable],prefix=variable)
    #.iloc[:,1:]
    data_new = dataset.join(cat_dummies)
    dataset = data_new.drop([variable],axis=1)
    return dataset

In [158]:
x.columns

Index(['ACUM_FALLAS_CORRECTIVAS', 'COBERTURA', 'SUB_CATEGORIA', 'MARCA',
       'TRABAJO', 'OPERACION', 'SERVICIO', 'ANTIGUEDAD', 'FLOTA_KF',
       'FLOTA_NOKF', 'COLOR_POST_VENTA', 'COLOR_VENTA', 'DISPONIBILIDAD_ACUM'],
      dtype='object')

In [159]:
tabla=variables_dummy(x,"COBERTURA")
tabla=variables_dummy(tabla,"SUB_CATEGORIA")
tabla=variables_dummy(tabla,"MARCA")
tabla=variables_dummy(tabla,"TRABAJO")
tabla=variables_dummy(tabla,"OPERACION")
tabla=variables_dummy(tabla,"SERVICIO")
tabla=variables_dummy(tabla,"COLOR_POST_VENTA")
tabla=variables_dummy(tabla,'COLOR_VENTA')

In [160]:
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import  AdaBoostRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn import metrics 

import warnings
import numpy as np

In [161]:
x_train,x_test,y_train,y_test=train_test_split(tabla,y)

In [165]:
modelos = [["LM","RIDGE","BRIDGE","TREE","RandomForest","GBOOST","ADABOOST","MLPREGRESOR"],
           [LinearRegression(fit_intercept=True, normalize=True),
            Ridge(),
            BayesianRidge(),
            DecisionTreeRegressor(),
            RandomForestRegressor(),
            GradientBoostingRegressor(),
            AdaBoostRegressor(),
            MLPRegressor(hidden_layer_sizes=(60,),  activation='tanh', solver='lbfgs', alpha=0.00001)]
          ]
warnings.filterwarnings("ignore")

In [166]:
resultados=[]
predicion=[]
error=[]
precision=[]
a=0
for i in modelos[1]:
    ajuste=i.fit(x_train,y_train)
    resultados.append(ajuste)
    predicion.append(ajuste.predict(x_test))
    er = np.sqrt(metrics.mean_squared_error(y_test,ajuste.predict(x_test)))
    error.append(er)
    precision.append(ajuste.score(x_test , y_test))
    print("modelo:",modelos[0][a])
    print("ajuste de:", ajuste.score(x_test , y_test))
    a=a+1

modelo: LM
ajuste de: 0.08343021704612785
modelo: RIDGE
ajuste de: 0.08345538232785521
modelo: BRIDGE
ajuste de: 0.08347704886532525
modelo: TREE
ajuste de: 0.08405514937985248
modelo: RandomForest
ajuste de: 0.3438323199725068
modelo: GBOOST
ajuste de: 0.27877285595109735
modelo: ADABOOST
ajuste de: -0.35101205516534356
modelo: MLPREGRESOR
ajuste de: 0.10326796463190213

In [162]:
resumen=pd.DataFrame(list(zip(np.array(modelos[0]).T.tolist(),error,precision)))
resumen.columns=["Modelo","Error","Precision"]
resumen

         Modelo     Error  Precision
0            LM  2.655799   0.066755
1         RIDGE  2.655804   0.066752
2        BRIDGE  2.655901   0.066683
3          TREE  2.655813   0.066745
4  RandomForest  2.414835   0.228422
5        GBOOST  2.333765   0.279358
6      ADABOOST  3.171839  -0.331152
7   MLPREGRESOR  2.628592   0.085778

In [167]:
#busco maxima precision
max_pre=resumen.max(axis=0)["Precision"]
#busco modelo
selec=resumen[resumen["Precision"]==max_pre]

In [168]:
a=selec["Modelo"]
for i,w in zip(modelos[0],modelos[1]):
    for j in selec["Modelo"]:
        if i == j:
            modelo_final = w

In [169]:
modelo_final

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [170]:
importancia = pd.DataFrame(list(zip(x_train.columns, modelo_final.feature_importances_)))
importancia.sort_values(1,ascending=False)

                                           0         1
1                                 ANTIGUEDAD  0.258863
4                        DISPONIBILIDAD_ACUM  0.134994
3                                 FLOTA_NOKF  0.127018
0                    ACUM_FALLAS_CORRECTIVAS  0.097658
2                                   FLOTA_KF  0.095706
18                             MARCA_b'FUSO'  0.062005
7        SUB_CATEGORIA_b'CAMIONES 4X2 - 6X2'  0.052839
28    OPERACION_b'DISTRIBUCION DE REFRESCOS'  0.021424
36                    OPERACION_b'POLIBRAZO'  0.017367
12                  SUB_CATEGORIA_b'TAXIBUS'  0.016169
11                   SUB_CATEGORIA_b'FURGON'  0.014716
34                      OPERACION_b'MINERIA'  0.013672
46                  COLOR_POST_VENTA_b'ROJO'  0.012126
40       OPERACION_b'TRANSPORTE DE RESIDUOS'  0.008018
19                    MARCA_b'MERCEDES-BENZ'  0.007122
9              SUB_CATEGORIA_b'CAMIONES 6X4'  0.006971
44                      SERVICIO_b'TALLERES'  0.006126
33              OPERACION_b'LARGA DISTANCIA'  0.006074
42                       OPERACION_b'URBANO'  0.005149
30                OPERACION_b'FORESTAL-GRUA'  0.004810
29                     OPERACION_b'FORESTAL'  0.004527
45              COLOR_POST_VENTA_b'AMARILLO'  0.003987
50                      COLOR_VENTA_b'VERDE'  0.003388
23        TRABAJO_b'TRANSPORTE DE PASAJEROS'  0.003282
16  SUB_CATEGORIA_b'TRACTOS 4X2 - 6X2 - 6X4'  0.003017
41        OPERACION_b'TRANSPORTE DE VALORES'  0.002693
48                   COLOR_VENTA_b'AMARILLO'  0.002243
27                 OPERACION_b'CONSTRUCCION'  0.001873
17                     MARCA_b'FREIGHTLINER'  0.001726
47                 COLOR_POST_VENTA_b'VERDE'  0.001177
38              OPERACION_b'SERVICIO URBANO'  0.001099
43                         SERVICIO_b'FAENA'  0.000963
49                       COLOR_VENTA_b'ROJO'  0.000430
22            TRABAJO_b'TRANSPORTE DE CARGA'  0.000396
6                       SUB_CATEGORIA_b'BUS'  0.000374
13           SUB_CATEGORIA_b'TOLVAS 15-16M3'  0.000000
5                  COBERTURA_b'FULL-SERVICE'  0.000000
8              SUB_CATEGORIA_b'CAMIONES 4X4'  0.000000
10             SUB_CATEGORIA_b'CAMIONES 6X6'  0.000000
37                   OPERACION_b'RECOLECTOR'  0.000000
39          OPERACION_b'TRANSPORTE DE CARGA'  0.000000
24           TRABAJO_b'TRANSPORTE PASAJEROS'  0.000000
14           SUB_CATEGORIA_b'TOLVAS 20-22M3'  0.000000
35                   OPERACION_b'MINER\xcdA'  0.000000
15             SUB_CATEGORIA_b'TOLVAS 6-7M3'  0.000000
32                   OPERACION_b'GAS GRANEL'  0.000000
31                 OPERACION_b'GAS - GRANEL'  0.000000
20                  TRABAJO_b'CAMION ALJIBE'  0.000000
21                TRABAJO_b'LARGA DISTANCIA'  0.000000
26                    OPERACION_b'CARRETERO'  0.000000
25                       OPERACION_b'ALJIBE'  0.000000